<app-app-lock-dialog (serverAvailable)="handleServerStatus($event)" *ngIf="appLocked === true"></app-app-lock-dialog>
<div class="simulator-container" *ngIf="appLocked === false">
    <div class="monitor-frame">
        <iframe 
            src="http://localhost:52400" 
            width="100%" 
            height="100%" 
            frameborder="0">
        </iframe>
    </div>
    
    <div class="terminal-view">
        <div class="app-header">
            <div class="header-content">
                <h1>{{title}}</h1>
                <img src="assets/QvAHub_Logo.png" alt="QvAHub Logo" class="logo">
            </div>
            <p>{{description}}</p>
            
            <div class="simulation-controls">
                <button class="start-btn" (click)="startSimulation()" [disabled]="isRunning" *ngIf="appLocked ===false">
                    Start Simulation
                </button>
                
                <div class="flow-info" *ngIf="!isRunning">
                    <h2>Simulation Flow</h2>
					<h3>The SIMULATED apps showed in this demo represent :</h3>
                    <ol>
                        <li>QvAVIHUB<br/>a Windows app that accepts multiple incomming video streams</li>
                        <li>QvAACAM<br/>a Kotlin App that video streams video from on Android devices</li>
                        <li>MyLoReFIO<br/>a NodeJS app that streams video to or from files</li>
                    </ol>
                    <h3>What is simulated is :</h3>
					<ol>
						<li>The QvAHUB LAN : reachable by devices connected in your Local Area Network</li>
						<li>Types of applications : can be defining for possible Peer to Peer connections and types</li>
						<li>The QvAHUB LAN Monitor App : is returned as http response of QvAHUB LAN webserver and included as IFrame in this demo</li>
					</ol>
					<h3>extra : QvATPC app is used to load the involved service processes</h3>
					<ol>
                        <li>QvAHUB LAN Demo<br/>This angular app running in dev mode on port 52401</li>
                        <li>QvAHub LAN server<br/>NodeJS Websocket Server and Monitor app in dev mode on port 52330</li>
                        <li>Optional : Run of QvAHub LAN Monitor as angular app in dev mode on port 52400</li>
                    </ol>
					<p>check QvAHubLan_terminals.json for the settings used by QvATPC</p>
                </div>
				<div class="flow-info" *ngIf="isRunning">
					<div class="log-entry" *ngFor="let log of simulationLogs">
						<span class="timestamp">[{{log.timestamp | date:'HH:mm:ss'}}]</span>
						<span class="action">{{log.action}}</span>
						<span class="result">{{log.result}}</span>
					</div>
				</div>
            </div>
        </div>

       
    </div>
</div>
	